<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">x</button>
  <h4 class="modal-title" id="myModalLabel">Cadastro de Clientes</h4>
</div>
<div class="modal-body">
<%= render 'form', cliente: @cliente %>
</div>
