<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @forma_pagamento.descricao %>
</p>

<%= link_to 'Edit', edit_forma_pagamento_path(@forma_pagamento) %> |
<%= link_to 'Back', forma_pagamentos_path %>
